body {
    background-color: rgb(40, 40, 40);
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.wrapper>div {



    background-color: rgb(40, 40, 40);

    color: #d9480f;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 50PX;
    column-gap: 30px;
    grid-template-areas:
        "c c c c c c c c "
        "c c c c c c c c "
        "c c c c c c c c "
        "c c c c c c c c "
        "c c c c c c c c "
        "c c c c c c c c "
        "c c c c c c c c "
        "c c c c c c c c "
        "c c c c c c c c "
        "c c c c c c c c "
    ;
}

.cat {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 0px;
    margin-left: -45px;
}

